@import '../../style/variables.scss';

.single {
    margin-top: 50px;
    position: relative;
    display:flex;
    column-gap: 50px;
    align-items: start;
    &__img {
        width: 293px;
        height: 450px;
    }
    &__name {
        color: $main-color;
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
    }
    &__descr, &__date {
        color: #ffff;
        font-size: 18px;
        line-height: 24px;
        margin-top: 25px;
    }
    &__price {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: $main-color;
        margin-top: 25px;
    }
    &__back {
        position: absolute;
        right: 0;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        &:hover {
            color: $main-color;
        }
    }
}

@media (max-width: 769px) {
    .single {
        &__name {
            font-size: 26px;
        }
        &__descr, &__date, &__back {
            font-size: 23px;
        }
    }

}